{% extends 'layout/base.html' %}

{% block title %}Trang chủ{% endblock %}

{% block content %}

<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="{{ current_user.avatar }}"
                             alt="{{ current_user.name }}"
                             class="rounded-circle img-fluid" style="width: 500px;">
                    </div>
                </div>

            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ current_user.name }}</p>
                            </div>
                        </div>
                         <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Role: </p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ current_user.user_role.name }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Birthday</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ current_user.birthday }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ current_user.phone }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Gender</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ current_user.gender }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Address</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ current_user.address }}</p>
                            </div>
                        </div>
                        {% if current_user.user_role.name != "USER" %}
                         <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Qualification</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ current_user.qualification }}</p>
                            </div>
                        </div>
                        {% endif %}
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Joined Date: </p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ current_user.joined_date }}</p>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>
</section>



{% endblock %}