{% extends 'layout/base.html' %}

{% block title %}Trang chủ{% endblock %}

{% block content %}

<!--<div class="container">-->
<!--    {% if pages %}-->
<!--        <div> {{ pages }} </div>-->
<!--    {% endif %}-->

<!--    {% if dem %}-->
<!--        <div> {{ dem }} </div>-->
<!--    {% endif %}-->

<!--    {% if product %}-->
<!--    <div class="row">-->
<!--        {% for p in product %}-->
<!--        <div class="col-md-3 col-sm-12" style="padding: 1rem;">-->
<!--            <div class="card">-->
<!--                <img class="card-img-top" src="{{p.image}}" alt="Card image">-->
<!--                <div class="card-body">-->
<!--                    <h4 class="card-title">{{p.name}}</h4>-->
<!--                    <p class="card-text">{{"{:,.0f}".format(p.price)}}</p>-->
<!--                    <a href="{{url_for('details', product_id=p.id)}}" class="btn btn-primary">Xem chi tiết</a>-->
<!--                    <a href="#" class="btn btn-primary">Đặt hàng</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        {% endfor %}-->
<!--    </div>-->
<!--    {% else %}-->
<!--    <p>Không có sản phẩm</p>-->
<!--    {% endif %}-->
<!--</div>-->
<div class="row">
	<div class="slider">
       <div class="slider-h3">
            Lorem Ipsum is simply dummy text of the <br />printing and typesetting industry.
            <div style="padding-top:30px;"><a href="#" class="btn">Click Here!</a></div>
       </div>
    </div>
</div>

<div class="row">
     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
     	<div class="slider-bottom-parts">
        	<div align="center"><img src="{{url_for('static', filename='images/icons8-drop-of-blood-50.png')}}" width="70" height="60" /></div>
            <div class="slider-bottom-parts-h3">Lorem Ipsum is simply dummy text</div>
            <div class="slider-bottom-parts-p">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s. When an  unknown...
            </div>
        </div>
     </div>
     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
     	<div class="slider-bottom-parts">
        	<div align="center"><img src="{{url_for('static', filename='images/icons8-wall-clock-50.png')}}" width="70" height="60" /></div>
            <div class="slider-bottom-parts-h3">Lorem Ipsum is simply dummy text</div>
            <div class="slider-bottom-parts-p">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s. When an  unknown...
            </div>
        </div>
     </div>
     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
     	<div class="slider-bottom-parts">
        	<div align="center"><img src="{{url_for('static', filename='images/icons8-user-account-50.png')}}" width="70" height="60" /></div>
            <div class="slider-bottom-parts-h3">Lorem Ipsum is simply dummy text</div>
            <div class="slider-bottom-parts-p">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s. When an  unknown...
            </div>
        </div>
     </div>
</div>

<div class="row m20_0">
	<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
    	<div class="col-md-12"><div class="content-header-h3">Lorem Ipsum is simply</div></div>
        <div class="row">
        	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            	<img src="{{url_for('static', filename='images/4570835.jpg')}}" class="img-responsive" alt="Sample Image">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            	<div class="content-left-top-right-p">
                	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s.when an unknown printer took a galley of type and
                    scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                    into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                    release of Letraset sheets containing Lorem Ipsum passages.<br /><br>
                    <a href="#!" class="btn">Read More</a>
                </div>
            </div>
        </div>
        <div class="clearfix m10_0"></div>
        <div class="row">
        	<div class="col-md-4 col-sm-4 col-xs-12">
            	<div class="content-header-h3">Lorem Ipsum is simply</div>
                <p style="padding-top:5px;"><strong>Lorem Ipsum is simply dummy</strong></p>
            	<p align="justify">
                	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also
                    the leap into electronic,. <a href="#">More</a></p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
            	<div class="content-header-h3">&nbsp;</div>
                <p style="padding-top:5px;"><strong>Lorem Ipsum is simply dummy</strong></p>
            	<p align="justify">
                	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also
                    the leap into electronic,. <a href="#">More</a></p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
            	<div class="content-header-h3">Videos</div>
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/KqCUuvl1myg" title="Hospital Promotional Video - Why I Chose PCMH" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<!--                <iframe width="100%" height="180" src="https://www.youtube.com/watch?v=wQ2TN_gI3sE&ab_channel=AMCAdvertising%26MarketingConsultants" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>-->
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    	<div class="content-header-h3">News &amp; Events</div>
        <div class="row">
        	<div class="col-md-4 col-sm-4 col-xs-4">
            	<div style="margin:5px -5px 0px 10px;"><img src="{{url_for('static', filename='images/surgery-g692e4cfbc_1920.jpg')}}" height="70" width="80" /></div>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8">
            	<div style="margin:10px -60px;">
                    <div class="content-date">20-02-2018</div>
                    <div class="content-right-p">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum ...
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        	<div class="col-md-4 col-sm-4 col-xs-4">
            	<div style="margin:5px -5px 0px 10px;"><img src="{{url_for('static', filename='images/surgery-g692e4cfbc_1920.jpg')}}" height="70" width="80" /></div>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8">
            	<div style="margin:10px -60px;">
                    <div class="content-date">20-02-2018</div>
                    <div class="content-right-p">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum ...
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
        	<div class="col-md-4 col-sm-4 col-xs-4">
            	<div style="margin:5px -5px 0px 10px;"><img src="{{url_for('static', filename='images/surgery-g692e4cfbc_1920.jpg')}}" height="70" width="80" /></div>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8">
            	<div style="margin:10px -60px;">
                    <div class="content-date">20-02-2018</div>
                    <div class="content-right-p">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum ...
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
        	<div class="content-header-h3">Contact Now</div>
            <input type="text" class="my_form form-control" placeholder="Name">
            <input type="text" class="my_form form-control" placeholder="Email">
            <textarea rows="3" class="form-textarea form-control"></textarea>
            <div  style="margin-top:15px;"><a href="#!" class="btn">Submit</a></div>
        </div>
    </div>
</div>
{% endblock %}





