{% extends 'layout/base.html' %}

{% block title %}Đăng ký người dùng{% endblock %}
<table class="table">
    <thead>
    <tr>
        <th class="text-center" colspan="5">Danh sách khám bệnh</th>
    </tr>
    <tr>
        <th class="text-center" colspan="5">Ngày khám:</th>
    </tr>
    <tr>
        <th scope="col">STT</th>
        <th scope="col">Họ tên</th>
        <th scope="col">Giới tính</th>
        <th scope="col">Năm sinh</th>
        <th scope="col">Địa chỉ</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>@mdo</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
        <td>@mdo</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
        <td>@mdo</td>
    </tr>
    </tbody>
</table>
{% block content %}
{% endblock %}