{% extends 'layout/base.html' %}

{% block title %}Đăng Nhập người dùng{% endblock %}

{% block content %}
<h1 class="text-center text-danger">Đăng Nhập người dùng</h1>
<div class="container">
    <div class="row">
        {% if err_msg %}
        <div class="alert alert-danger">
            <h4>{{err_msg}}</h4>
        </div>
        {%endif%}

        <form action="{{ url_for('login_my_user')}}" method="post" enctype="multipart/form-data">
             <div class="mb-3 mt-3">
                <label for="username" class="form-label">User name:</label>
                <input type="text" class="form-control" id="username" placeholder="Tên đăng nhập" name="username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Mật khẩu:</label>
                <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
            </div>


            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>


{% endblock %}