{% extends 'layout/base.html' %}

{% block title %}Đăng Nhập người dùng{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% if err_msg %}
        <div class="alert alert-danger">
            <h4>{{err_msg}}</h4>
        </div>
        {%endif%}


        <div class="container-form">
            <div class="container-form_body">
                <h1>Login</h1>


                <form action="{{ url_for('login_my_user')}}" method="post" enctype="multipart/form-data">

                    <div class="dropdown form-control">
                        <div class="dropdown-select">
                            <input type="text" class="selected-role" name="role">
                            <span class="dropdown-selected">Select Item</span>
                            <i class="fa fa-caret-down icon"></i>
                        </div>

                        <div class="dropdown-list">
                            <div class="dropdown-list_item">ADMIN</div>
                            <div class="dropdown-list_item">DOCTOR</div>
                            <div class="dropdown-list_item">NURSE</div>
                            <div class="dropdown-list_item">USER</div>
                        </div>
                    </div>

                    <div class="form-control">
                        <input type="text" id="username" placeholder="Tên đăng nhập" name="username"/>
                        <span></span>
                        <small></small>
                    </div>
                    <div class="form-control">
                        <input type="password" id="password" placeholder="Enter password" name="password"/>
                        <span></span>
                        <small></small>
                    </div>

                    <input type="submit" value="Login"/>
                    <div class="signup_link">Not a member? <a href="#">Signup</a></div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="{{url_for('static', filename='js/app.js')}}"></script>

{% endblock %}