{% extends 'layout/base.html' %}

{% block title %}Đăng ký người dùng{% endblock %}

{% block content %}
{% if  current_user.is_authenticated and current_user.user_role.name == "USER" or  current_user.is_authenticated and current_user.user_role.name  == "Nurse" or current_user.user_role.name == "ADMIN"%}
<h1 class="text-center text-danger">Đăng ký người dùng</h1>
<div class="container">
    <div class="row">
        {% if err_msg %}
        <div class="alert alert-danger">
            <h4>{{err_msg}}</h4>
        </div>
        {%endif%}

        <form>

<!--            <div class="mb-3 mt-3">-->
<!--                <label for="name" class="form-label">Symptom:</label>-->
<!--                <input type="text" class="form-control" id="symptom" placeholder="Họ tên" name="symptom">-->
<!--            </div>-->

              <div class="mb-3 mt-3">
                  <label  class="form-label">User ID:</label>
                    <input type="text" class="form-control user-id"  value="{{ current_user.id }}"  name="user_id" readonly>
            </div>

            <div class="mb-3 mt-3">
                <label for="examine_date" class="form-label">Ngày đến khám:</label>
                <input type="date" class="form-control " id="examine_date"  name="date">
            </div>


            <a class="btn btn-success"  onclick="saveMC()"> Xác nhận </a>
        </form>
    </div>
</div>

{% endif %}
<script src="{{url_for('static', filename='js/medicalCertificate.js')}}"></script>

{% endblock %}